@model IEnumerable<BankOrderSys.Models.OrderFormView>
@using Microsoft.AspNet.Identity

<div class="row">
    <h2>Список ваших запросов на инкасацию. <button class="btn btn-default btn-lg" style="display:inline-block"><a style="color:black" href="/Home/AddOrder">Создать новую Заявку</a></button></h2>
    <p>Для просмотра и редактирования выберете элемент таблицы</p> 
    <div class="col-md-12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Номер</th>
                    <th>Дата</th>
                    <th>Статус</th>
                </tr>
            </thead>
            <tbody>
                @{
                    string fmt = "00000";
                    string formatString = " {0,15:" + fmt + "}";
                }
                        @foreach (var a in Model)
                        {
                            //if (a.user_name == User.Identity.GetUserName())
                            {
                                <tr>
                                    <td>2-@a.id.ToString(formatString)</td>
                                    <td>@a.date</td>
                                    <td>@a.status</td>
                                    <td></td>
                                </tr>

                            }
                        }
            </tbody>
        </table>
    </div>
</div>