
@{
    ViewBag.Title = "Lists";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@helper drawList( string title)
{
    <div class="col-md-6">
        <form>
            <h3>@title <button class="btn btn-default btn-lg" style="float:right;padding-top:6px;padding-bottom:10px">Добавить</button></h3>
            <div class="list-group">

                <a href="#" class="list-group-item">
                    <div class="item-info">
                        <big>Dapibus ac facilisis in</big>
                    </div>
                    <div class="item-edit">
                        <input class="form-control" type="text" style="display:inline-block;width:50%" />
                        <div class="btn-group" style="width:49%;display:inline-block;">
                            <button class="btn btn-default" style="width:50%">Сохранить</button>
                            <button class="btn btn-default" style="width:50%">Удалить</button>
                        </div>
                    </div>
                </a>

            </div>
        </form>
    </div>
}

<div class="col-md-12">
    <div class="row">
        @drawList("Инкассаторские услуги")
        @drawList("Типы заявок на инкассацию")
    </div>

    <div class="row">
        @drawList("Способы сдачи наличности")
        @drawList("Переодичность оказания услуг")
    </div>
</div>
