@using BankOrderSys.Models
@model BankOrderSys.Models.OrderFormView

<!-- 19 колонок по горизонтали не влезали, поэтому таблица растет вправо со скролом. -->

<div id="wrapper2" class="col-md-12 double-scroll" style="overflow-x:scroll">
    <form id="obj_list_incas" method="post" action="/Home/AddObj">
        <table class="table table-striped table-bordered">
            <col width="260" />
            <thead>
                <tr>
                    <th>Описание</th>
                    @{
                    int i = 0;
                    }

                    @foreach (var a in Model.obj_list)
                    {
                    <th>Объект №@(++i)</th>
                    }
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Желательное время сдачи наличных</td>
                    @{
                    i = 0;
                    }
                    @for ( i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control" name="obj_list[@i].time" /></td>
                    }
                </tr>
                <tr>
                    <td>Способ сдачи денежной наличности</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <select class="form-control" name="obj_list[@i].type_get_money">
                            <option>-</option>
                            <option>1</option>
                        </select>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Периодичность оказания инкассаторских услуг</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <select class="form-control" name="obj_list[@i].period">
                            <option>-</option>
                            <option>1</option>
                        </select>
                    </td>
                    }
                </tr>
                <tr>
                    <td>День недели</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <select class="form-control" name="obj_list[@i].week_day">
                            <option>-</option>
                            <option>Понедельник</option>
                            <option>Вторник</option>
                            <option>Среда</option>
                            <option>Четверг</option>
                            <option>Пятница</option>
                            <option>Субота</option>
                            <option>Воскресенье</option>
                        </select>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Предполагаемый объем денежной наличности</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <input class="form-control" type="number" name="obj_list[@i].count_money" min="1" step="0.01" />
                    </td>
                    }
                </tr>
                <tr>
                    <td>Код валюты</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <select class="form-control" name="obj_list[@i].code_money">
                            <option>-</option>
                            <option>1</option>
                        </select>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Руководитель объекта</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <input class="form-control" type="text" name="obj_list[@i].boss_object" />
                    </td>
                    }
                </tr>
                <tr>
                    <td>Желательная дата начала обслуживания</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <input class="form-control" type="date" name="obj_list[@i].start_data" />
                    </td>
                    }
                </tr>
                <tr>
                    <td>Рабочие дни</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td></td>
                    }

                </tr>
                <tr>
                    <td align="right">C:</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control col-lg-6" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td align="right">До:</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control col-lg-6" name="time" /></td>
                    }
                </tr>

                <tr>
                    <td>Субота</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td></td>
                    }

                </tr>
                <tr>
                    <td align="right">C:</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control col-lg-6" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td align="right">До:</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>

                <tr>
                    <td>Воскресенье</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td></td>
                    }

                </tr>
                <tr>
                    <td align="right">C:</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td align="right">До:</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>

                <tr>
                    <td>Тип адреса</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                        <td>
                            <select class="form-control" name="obj_list[@i].type_adress">
                                <option>-</option>
                                <option>1</option>
                            </select>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Тип населенного пункта</td>
                    @{
                    i = 0;

                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <select class="form-control" name="obj_list[@i].type_city">
                            <option>-</option>
                            <option>1</option>
                        </select>
                    </td>
                    }
                </tr>
                <tr>
                    <td>Наименование населенного пункта</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="text" class="form-control" name="obj_list[@i].title_citi" /></td>
                    }
                </tr>
                <tr>
                    <td>Улица</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="text" class="form-control" name="obj_list[@i].title_street" /></td>
                    }
                <tr>
                    <td>Номер дома (владение)</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="text" class="form-control" name="obj_list[@i].num_build" /></td>
                    }
                </tr>
                <tr>
                    <td>Корпус (строение)</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td><input type="text" class="form-control" name="obj_list[@i].title_part" /></td>
                    }
                </tr>
                <tr>
                    <td>Инкассаторская услуга</td>
                    @{
                    i = 0;
                    }
                    @for (i = 0; i < Model.obj_list.Count; i++)
                    {
                    <td>
                        <select class="form-control" name="obj_list[@i].type_order">
                            <option>-</option>
                            <option>1</option>
                        </select>
                    </td>
                    }
                </tr>
            </tbody>
        </table>
    </form>
</div>