@using BankOrderSys.Models
@model BankOrderSys.Models.OrderFormView

<!-- 19 колонок по горизонтали не влезали, поэтому таблица растет вправо со скролом. -->

@{
    ObjectIncasation item = new ObjectIncasation();
    Model.obj_list.Add(item);
    /*item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);
    item = new ObjectIncasation();
    Model.obj_list.Add(item);*/
}

<div class="col-md-12" style="overflow-x:scroll">
    <form id="obj_list" method="post" action="/Home/AddObj">
        <table class="table table-striped table-bordered">
            <col width="260" />
            <thead>
                <tr>
                    <th>Описание</th>
                    @{
                        int i = 0;
                    }

                    @foreach (var a in Model.obj_list)
                    {
                        <th>Объект №@(++i)</th>
                    }
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Желательное время сдачи наличных</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td>Способ сдачи денежной наличности</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <select class="form-control" name="type_get_money">
                                <option>-</option>
                                <option>1</option>
                            </select>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Периодичность оказания инкассаторских услуг</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <select class="form-control" name="period">
                                <option>-</option>
                                <option>1</option>
                            </select>
                        </td>
                    }
                </tr>
                <tr>
                    <td>День недели</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <select class="form-control" name="week_day">
                                <option>-</option>
                                <option>Понедельник</option>
                                <option>Вторник</option>
                                <option>Среда</option>
                                <option>Четверг</option>
                                <option>Пятница</option>
                                <option>Субота</option>
                                <option>Воскресенье</option>
                            </select>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Предполагаемый объем денежной наличности</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <input class="form-control" type="number" name="count_money" min="1" step="0.01" />
                        </td>
                    }
                </tr>
                <tr>
                    <td>Код валюты</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <select class="form-control" name="code_money">
                                <option>-</option>
                                <option>1</option>
                            </select>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Руководитель объекта</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <input class="form-control" type="text" name="boss_object" />
                        </td>
                    }
                </tr>
                <tr>
                    <td>Желательная дата начала обслуживания</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <input class="form-control" type="date" name="start_data" />
                        </td>
                    }
                </tr>
                <tr>
                    <td>Рабочие дни</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td></td>
                    }

                </tr>
                <tr>
                    <td align="right">C:</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control col-lg-6" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td align="right">До:</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control col-lg-6" name="time" /></td>
                    }
                </tr>

                <tr>
                    <td>Субота</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td></td>
                    }

                </tr>
                <tr>
                    <td align="right">C:</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control col-lg-6" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td align="right">До:</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>

                <tr>
                    <td>Воскресенье</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td></td>
                    }

                </tr>
                <tr>
                    <td align="right">C:</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>
                <tr>
                    <td align="right">До:</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="time" class="form-control" name="time" /></td>
                    }
                </tr>

                <tr>
                    <td>Тип адреса</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>@a.type_adress</td>
                    }
                </tr>
                <tr>
                    <td>Тип населенного пункта</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <select class="form-control" name="type_city">
                                <option>-</option>
                                <option>1</option>
                            </select>
                        </td>
                    }
                </tr>
                <tr>
                    <td>Наименование населенного пункта</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="text" class="form-control" name="title_citi" /></td>
                    }
                </tr>
                <tr>
                    <td>Улица</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="text" class="form-control" name="title_street" /></td>
                    }
                <tr>
                    <td>Номер дома (владение)</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="text" class="form-control" name="num_build" /></td>
                    }
                </tr>
                <tr>
                    <td>Корпус (строение)</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td><input type="text" class="form-control" name="title_part" /></td>
                    }
                </tr>
                <tr>
                    <td>Инкассаторская услуга</td>
                    @foreach (var a in Model.obj_list)
                    {
                        <td>
                            <select class="form-control" name="type_order">
                                <option>-</option>
                                <option>1</option>
                            </select>
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </form>
</div>